<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.REORDER_TASKS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.software.leanback" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true"/>

    <application
        android:name=".application.GibsonOsApplication"
        android:allowBackup="true"
        android:banner="@drawable/banner"
        android:fullBackupContent="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        android:dataExtractionRules="@xml/data_extraction_rules"
        tools:targetApi="s">

        <meta-data
            android:name="DATABASE"
            android:value="gibsonos.db"/>

        <meta-data
            android:name="VERSION"
            android:value="14"/>

        <meta-data
            android:name="QUERY_LOG"
            android:value="true"/>

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1"/>

        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="de.wollis_page.gibsonos.helper.CastOptionsProvider"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <!--<provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>

        </provider>-->

        <activity
            android:name=".module.core.user.activity.LoginActivity"/>

        <activity
            android:name=".activity.MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".activity.SettingActivity"/>

        <activity
            android:name=".module.core.desktop.activity.IndexActivity"/>

        <activity
            android:name="de.wollis_page.gibsonos.module.explorer.index.activity.IndexActivity"
            android:icon="@drawable/ic_folder"/>

        <activity
            android:name="de.wollis_page.gibsonos.module.explorer.html5.activity.PlayerActivity"
            android:icon="@drawable/ic_play"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.FullScreen"/>

        <activity
            android:name="de.wollis_page.gibsonos.module.explorer.html5.activity.ChromecastActivity"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity
            android:name="de.wollis_page.gibsonos.module.core.event.activity.IndexActivity"
            android:icon="@drawable/ic_stream"/>

        <activity
            android:name="de.wollis_page.gibsonos.module.core.event.activity.RunActivity"
            android:icon="@drawable/ic_stream"/>

        <activity
            android:name="de.wollis_page.gibsonos.module.core.cronjob.activity.IndexActivity"
            android:icon="@drawable/ic_calendar_alt"/>

        <activity
            android:name="de.wollis_page.gibsonos.module.core.message.activity.IndexActivity"
            android:icon="@drawable/ic_message"/>

        <activity
            android:name="de.wollis_page.gibsonos.module.hc.index.activity.IndexActivity"
            android:icon="@drawable/ic_house_laptop_solid"/>

        <activity
            android:name="de.wollis_page.gibsonos.module.hc.index.activity.MasterActivity"
            android:icon="@drawable/ic_house_laptop_solid"/>

        <activity
            android:name="de.wollis_page.gibsonos.module.hc.io.activity.IndexActivity"
            android:icon="@drawable/ic_switch"/>

        <activity
            android:name="de.wollis_page.gibsonos.module.hc.ir.activity.IndexActivity"
            android:icon="@drawable/ic_remote_control"/>

        <activity
            android:name="de.wollis_page.gibsonos.module.hc.ir.activity.RemoteActivity"
            android:icon="@drawable/ic_remote_control"/>

        <activity
            android:name="de.wollis_page.gibsonos.module.hc.neopixel.activity.IndexActivity"
            android:icon="@drawable/ic_led"/>

        <activity
            android:name="de.wollis_page.gibsonos.module.obscura.index.activity.IndexActivity"
            android:icon="@drawable/ic_expand"/>

        <activity
            android:name="de.wollis_page.gibsonos.module.obscura.scanner.activity.FormActivity"
            android:icon="@drawable/ic_expand"/>

        <activity
            android:name="de.wollis_page.gibsonos.module.growDiary.index.activity.IndexActivity"
            android:icon="@drawable/ic_hemp"/>

        <activity
            android:name="de.wollis_page.gibsonos.module.growDiary.index.activity.FormActivity"
            android:icon="@drawable/ic_hemp"/>

        <activity
            android:name="de.wollis_page.gibsonos.module.growDiary.plant.activity.IndexActivity"
            android:icon="@drawable/ic_hemp_plant"/>

        <activity
            android:name="de.wollis_page.gibsonos.module.growDiary.plant.activity.ImageActivity"
            android:icon="@drawable/ic_hemp_plant"/>

        <activity
            android:name="de.wollis_page.gibsonos.module.growDiary.seed.activity.IndexActivity"
            android:icon="@drawable/ic_seed"/>

        <activity
            android:name="de.wollis_page.gibsonos.module.growDiary.manufacture.activity.IndexActivity"
            android:icon="@drawable/ic_hemp"/>

        <activity
            android:name="de.wollis_page.gibsonos.module.growDiary.setup.activity.IndexActivity"
            android:icon="@drawable/ic_grow_setup"/>

        <activity
            android:name="de.wollis_page.gibsonos.module.growDiary.setup.activity.LightActivity"
            android:icon="@drawable/ic_grow_setup"/>

        <activity
            android:name="de.wollis_page.gibsonos.module.growDiary.setup.activity.ClimateControlActivity"
            android:icon="@drawable/ic_grow_setup"/>

        <activity
            android:name="de.wollis_page.gibsonos.module.growDiary.room.activity.IndexActivity"
            android:icon="@drawable/ic_hemp"/>

        <service
            android:name=".service.FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name="de.wollis_page.gibsonos.module.explorer.service.PlaybackService"
            android:foregroundServiceType="mediaPlayback"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="androidx.media3.session.MediaSessionService"/>
            </intent-filter>
        </service>

    </application>

</manifest>